{#
/**
 *
*/
#}

<ul class="nav-menu">
  <li class="menu-active"><a href="{{ url('<front>') }}#hero">{{ 'Home'|t }}</a></li>
  <li><a href="{{ url('<front>') }}#about">{{ 'Coaching &amp; Advies'|t }}</a></li>
  <li><a href="{{ url('<front>') }}#services">{{ 'Wie ben ik'|t }}</a></li>
  <li><a href="{{ url('<front>') }}#portfolio">{{ 'Getuigenissen'|t }}</a></li>
  <li><a href="{{ url('<front>') }}#contact">{{ 'Contact Us'|t }}</a></li>
</ul>