{{ attach_library('imperial/easing') }}

<div id="preloader"></div>
  
<!--==========================
  Hero Section
============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="{{ base_path ~ directory }}/images/logo.png" alt="Imperial">
        </div>

        <h1>We create <span class="rotating bleu">beautiful graphics, functional websites, working mobile apps</span></h1>
        <div class="actions">
          <a href="#about" class="btn-get-started">Over Coaching</a>
          <a href="#services" class="btn-services">Wie Ben Ik</a>
        </div>
      </div>
    </div>
  </section>
  
<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container">
    
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ base_path ~ directory }}/images/logo.png" alt="logo" title="logo" /></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">Coaching &amp; Advies</a></li>
          <li><a href="#services">Wie ben ik</a></li>
          <li><a href="#portfolio">Getuigenissen</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    
<!--==========================
  About Section
============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          {{ page.coaching }}
        </div>
      </div>
    </div>
  </section>
  
<!--==========================
  Services Section
============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          {{ page.about }}
        </div>
      </div>
    </div>  
  </section>
  
<!--==========================
  Subscrbe Section
============================-->  
  <section id="subscribe"></section>
    
<!--==========================
  Porfolio Section
============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Getuigenissen</h3>
          <div class="section-title-divider"></div>
          {{ page.testimonies }}
        </div>
      </div>
    </div>
  </section>

    
<!--==========================
  Contact Section
============================--> 
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contacteer mij</h3>
          <div class="section-title-divider"></div>
          {{ page.contact }}
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Schachtplein 1, 3550 Heusden-Zolder</p>
            </div>
            
            <div>
              <i class="fa fa-envelope"></i>
              <p>jane@dialoog.be</p>
            </div>
            
            <div>
              <i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
            
          </div>
        </div>
        
        <div class="col-md-5 col-md-push-2">
          <div class="form">
            {{ page.form }}
          </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
<!--==========================
  Footer
============================--> 
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              Copyright {{ "now"|date("Y") }} {{ page.footer }}
            </div>
            <div class="credits">
             <p>Design door Vandenborne Stefaan</p>
            </div>
          </div>
        </div>
      </div>
  </footer><!-- #footer -->
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
