{{ attach_library('imperial/stickyImage') }}
<div id="preloader"></div>

<!--==========================
  Header Section
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href={{ path('<front>') }}><img src="{{ base_path ~ directory }}/images/logo.png" alt="Imperial"/></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/#hero">Home</a></li>
        <li><a href="/#about">Coaching &amp; Advies</a></li>
        <li><a href="/#services">Wie ben ik</a></li>
        <li><a href="/#portfolio">Getuigenissen</a></li>
        <li><a href="/#contact">Contact Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->


<!--==========================
  Content Section
============================-->
<div id="sticky-anchor"></div>
<section id="content">
  <div class="container">
    <div class="row">
      
      <div class="col-md-5">
        <div class="sticky">
          <div class="aboutme-image">
            <img src="{{ base_path ~ directory }}/images/dame4.jpg" alt="Aboutme Picture"/>
          </div>
        </div>
      </div>

      <div class="col-md-7 content-wrap">
        {{ title_prefix }}
        {% if title %}
          <h1 class="title" id="page-title">
            {{ title }}
          </h1>
        {% endif %}
        {{ title_suffix }}

        {% if tabs %}
          <nav class="tabs" role="navigation">
            {{ tabs }}
          </nav>
        {% endif %}

        {{ page.help }}
        {% if action_links %}
          <ul class="action-links">
            {{ action_links }}
          </ul>
        {% endif %}

        {{ page.content }}
      </div>{# /.layout-content #}
    </div>
  </div>
</section>


<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          Copyright {{ "now"|date("Y") }} {{ page.footer }}
        </div>
        <div class="credits">
          <p>Design door Vandenborne Stefaan</p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
